
/* Review Conclusion */

.cuppa-review-conclusion .wrapper {
  width: 100%;
}

.cuppa-review-conclusion .link {
  width: 100%;
  margin: 1rem 0;
}


/* --- END --- */

/* review intro */

.cuppa-review-intro .paragraph {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

@media all and (min-width: 568px) {
  .cuppa-review-conclusion .wrapper {
    width: 90%;
  }
}

@media all and (min-width: 768px) {
  .cuppa-review-conclusion .wrapper {
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
  }

  .cuppa-review-conclusion .wrapper .paragraph {
    margin-right: 1.5rem;
  }
}

@media all and (min-width: 992px) {
  .cuppa-review-conclusion .wrapper {
    width: 80%;
  }
}

@media all and (min-width: 1400px) {
  .cuppa-review-conclusion .wrapper {
    width: 70%;
  }
}
