.cuppa-review-card {
  background: #8C704D;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cuppa-review-card {
  width: 100%;
  min-height: 50vh;
  color: #0a0c0e;
  /*border: 2px dotted #333440;*/
  border-radius: 10px;
  box-shadow: 0px 1px 3px hsla(57, 26%, 25%, 0.12), 0px 1px 2px hsla(57, 26%, 25%, 0.24);
}

.cuppa-review-quote {
  width: 100%;
  text-align: center;
  padding: 1rem 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
}

.cuppa-review-quote .cite {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.95rem !important;
  font-weight: 700 !important;
  margin-top: 1.5rem;
}


@media all and (min-width: 576px) {
  .cuppa-review-card {
    min-height: 35vh;
  }

  .cuppa-review-quote {
    width: 86%;
  }
}

@media all and (min-width: 768px) {

  .cuppa-review-card,
  .cuppa-review-wrapper {
    min-height: 40vh;
  }

  .cuppa-review-quote {
    margin-top: 0;
    width: 80%;
  }
}

@media all and (min-width: 992px) {
  .cuppa-review-card {
    min-height: 45vh;
  }
}

@media all and (min-width: 1200px) {
  .cuppa-review-card,
  .cuppa-review-wrapper {
    min-height: 45vh;
  }
}

@media all and (min-width: 1400px) {
  .cuppa-review-quote {
    width: 85%;
  }
}
