:root {
  --swiper-theme-color: #333440 !important;
}
.cuppa-carousel-wrapper {
  position: relative;
  margin: 2rem auto;
  width: 100%;
}

.cuppa-carousel-wrapper .open-quote {
  position: absolute;
  z-index: 1000;
  width: 60px;
  height: 60px;
  top: 5%;
  left: 5%;
  opacity: 0.5;
}

.cuppa-carousel-wrapper .close-quote {
  position: absolute;
  z-index: 1000;
  width: 60px;
  height: 60px;
  bottom: 5%;
  right: 5%;
  opacity: 0.5;
}


.swiper {
  width: 100%;
  position: relative;
}

.swiper-slide {
  min-height: 100%;
}

@media all and (min-width: 568px) {

}

@media screen and (min-width: 768px) {
  .cuppa-carousel-wrapper {
    width: 88%;
  }
}
@media screen and (min-width: 992px) {
  .cuppa-carousel-wrapper {
    width: 80%;
  }

  .cuppa-carousel-wrapper .open-quote,
  .cuppa-carousel-wrapper .close-quote {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .cuppa-carousel-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .cuppa-carousel-wrapper {
    width: 70%;
  }
}
