.cuppa-page-header {
  background: #0a0c0e;
  color: #F2F2F2;
  padding: 1rem;
  display: flex;
  position: fixed;
  position: absolute;
  z-index: 6000;
  top: 0;
  left: 0;
  right: 0;
}

.cuppa-page-header .brand-logo {
  flex: 1 1 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cuppa-page-header .brand-logo > a {
  text-decoration: none;
  color: #F2F2F2;
  cursor: pointer;
  font-weight: 700;
}

.cuppa-page-header .brand-logo > a:link,
.cuppa-page-header .brand-logo > a:visited {
  color: #F2F2F2;
}

.cuppa-page-header .brand-logo > a:focus {
  outline: 1px dotted #F2F2F2;
}
.cuppa-page-header .brand-logo > a:hover {

}
.cuppa-page-header .brand-logo > a:active {
  color: #F2F2F2;
}
