.cuppa-hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;

  background: #0a0c0e;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./pouring-coffee-1280.jpg) no-repeat 50% 50% / cover fixed, #0a0c0e;
  color: white;
}

.cuppa-hero .title {
  width: 100%;
  font-family: "Playfair Display", sans-serif;
  text-transform: capitalize;
  font-size: 2.3rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

.cuppa-hero .button {
  margin-top: 1.5rem;
  width: 100%;
}


@media all and (min-width: 576px) {
  .cuppa-hero {
    padding: 4rem;
  }
  .cuppa-hero .title {
    font-size: 4rem;
    max-width: 100%
  }
  .cuppa-hero .paragraph {
    max-width: 80%;
  }
}
@media all and (min-width: 768px) {
  .cuppa-hero {
    background: #0a0c0e;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./pouring-coffee-2500.jpg) no-repeat 50% 50% / cover fixed, #0a0c0e;

  }
}
@media all and (min-width: 992px) {
  .cuppa-hero .title {
    font-size: 4rem;
  }

  .cuppa-hero .paragraph {
    font-size: 1.3rem;
    max-width: 60%;
  }

  .cuppa-hero .button > a {
    font-size: 1rem;
  }
}
@media all and (min-width: 1200px) {
}
@media all and (min-width: 1400px) {}
