.cuppa-download {
  display: flex;
  flex-flow: column;
  color: #F2F2F2 !important;
}

.cuppa-download .banner-image {
  overflow: hidden;
  width: 100%;
  height: 35vh;
  margin: 0;
  padding: 0;
}

.cuppa-download .banner-image > img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.cuppa-download .paragraph {
  max-width: 100%;
  margin: 1rem 0;
}


.cuppa-download .cuppa-links {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1.5rem;
}

.cuppa-download .cuppa-links a {
  margin: 1rem 1rem 1rem 0;
}

.market-btn {
  display: flex;
  flex-flow: row nowrap;
}

.market-img > img{
  width: 20px;
  margin-right: 0.3rem;
}
.market-btn .market-button-title {
  display: block;
  font-size: 0.75rem;
}
.market-btn .market-button-subtitle {
  display: block;
  margin-bottom: -0.25rem;
  font-size: 0.55rem;
  color: #333440;
}


.cuppa-download .banner-content {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
}

@media all and (max-width: 400px) {
  .cuppa-download .cuppa-links {
    flex-flow: row wrap;
  }
}

@media all and (min-width: 576px) {
  .cuppa-download .banner-image {
    height: 38vh;
  }
}

@media all and (min-width: 768px) {
  .cuppa-download {
    flex-flow: row;
    justify-content: stretch;
    align-items: stretch;
  }

  .cuppa-download .banner-image {
    flex: 1 1 50%;
    height: auto;
  }

  .cuppa-download .banner-content {
    flex: 1 1 50%;
    order: 0;
  }
}

@media all and (min-width: 992px) {
  .cuppa-download .banner-image {
    flex: 1 1 50%;
    overflow: hidden;
  }

  .cuppa-download .banner-content {
    flex: 2 1 50%;
  }
}
