.cuppa-masthead,
.masthead,
.masthead-center {
  width: 100%;
  position: relative;
  padding: 1rem 0;
}

.cuppa-heading,
.masthead-heading,
.masthead-center-heading {
  text-align: left;
}

.cuppa-tagline,
.masthead-tagline,
.masthead-center-tagline {
  display: block;
  margin-left: 55px;
  margin-bottom: 1rem;
  font-size: 0.85rem !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cuppa-tagline::before,
.masthead-tagline::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  width: 40px;
  height: 10px;
  background-color: #261420;
  border-radius: 8px;
}

.masthead-center-tagline {
  margin-left: 0;
}


.masthead-center-tagline::before {
  content: "";
  background-color: #261420;
  width: 40px;
  height: 10px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.masthead-center,
.masthead-center-heading {
  text-align: center;
}

@media all and (min-width: 768px) {

}






/* Temp */


.cuppa-button {
  width: max-content;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 1rem 2rem;
  font-weight: 700;
  word-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}


/*
button {
  font-size: 18px;
  color: #222;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #222;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: red;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
*/
