.cuppa-bookings {
  background: #0a0c0e;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../assets/cafe1200.jpg) no-repeat 50% 50% / cover fixed, #0a0c0e;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  color: #F2F2F2 !important;
}

@media all and (min-width: 768px) {
  .cuppa-bookings {
    background: #0a0c0e;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../assets/cafe.jpg) no-repeat 50% 50% / cover fixed, #0a0c0e;
    flex-flow: row wrap;
  }
}

@media all and (min-width: 992px) {
  .cuppa-bookings {
    flex-flow: row wrap;
  }
}
