.cuppa-event {
  width: 100%;
}

.cuppa-event .paragraph-group p {
  margin-bottom: 1rem;
}

.cuppa-event .link {
  width: 100%;
  margin: 1rem 0;
}



@media all and (min-width: 576px) {
  .cuppa-event .paragraph-group {
    max-width: 83%;
  }
}

@media all and (min-width: 768px) {
  .cuppa-event .paragraph-group {
    max-width: 100%;
  }

  .cuppa-event {
    flex: 2 2 50%;
    margin-right: 3%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}

@media all and (min-width: 992px) {
  .cuppa-event {
    max-width: 50%;
    flex: 1 1 55%;
    margin-right: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}

@media all and (min-width: 1400px) {
  .cuppa-event .paragraph-group {
    max-width: 80%;
  }

  .cuppa-event {
    flex: 1 1 60%;
  }
}
